body {
    background-color:white;
    background-color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navigace{
    display: flex;
    justify-content: center;
}

.navigace .na{
    width: 60%;
    height: 40px;
    background-color: #494949;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    border: 1px solid yellowgreen;
}

.navigace a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 38px;
    color: greenyellow;
    border-radius: 10%;
    text-decoration: none;
}

.navigace a:hover {
    background-color: greenyellow;
    color: black;
}

.nadpis{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 5px;
    font-size: 45px;
    color: greenyellow;
}

.nadpis2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 25px;
    color: greenyellow;
    font-weight: inherit;
}

.win {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.win div{
    background-color: #494949;
    border: 1px solid greenyellow;
    border-radius: 10px;
    width: 48%;
    height: 300px;
    color: greenyellow;
}